/*For the whole site*/

html {
  font-size: 16px;
  line-height: 1.4;
}

/*For development purposes*/
/*div {
  border: 1px solid purple;
}

body {
  background-color: orange;
}

/*Site container*/
.site_container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  .site_container {
    width: 100%;
  }
}

/*Header*/
.header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: white;
}
#logo_container {
  display: flex;
  justify-content: space-between;
}

.mobile {
  display: none;
}

.logoname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  margin-left: 1.5rem;
}

.logoname img {
  height: 2.5rem;
}

.logoname h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  color: gray;
}

.logoname h1 span {
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1rem
}

nav p{
  padding-left: 1rem;
}

#last {
  margin-right: 1.5rem;
}

@media only screen and (max-width:640px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .mobile img {
    height: 2rem;
  }
}

/*Banner*/
.banner {
  background-color: lightgrey;
  min-height: 100%;
}

.main_picture {
  width: 60%;
  margin: 2rem 1.5rem;
}

.main_picture img{
  width: 100%;
}

.main_text {
  width: 28%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_text h1 {
  color: black;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.main_text h2 {
  color: black;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem 0rem;
}

button {
  color: white;
  background-color: black;
  font-family: Ubuntu, sans-serif;
  font-size: 1.3rem;
  padding: 0.5rem 0rem;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  #banner_container {
    display: flex;
    flex-direction: column;
  }

  .main_picture {
    width: 100%;
    margin: 0;
  }

  .main_text {
    width: auto;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .main_text h1 {
    padding: 1rem 0rem;
  }

  .main_text h2 {
    padding: 0rem;
  }

  button {
    margin: 1.5rem 0rem 1rem 0rem;
  }
}

/*Main*/
.main {
  background-color: white;
}

.practice {
  margin: 2rem 1.5rem;
  width: 60%;
}

.practice img {
  width: 100%;
}

.practice h1 {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 2rem 0rem 1.5rem 0rem;
}

.practice p {
  padding-bottom: 1.5rem;
}

.practice h6 {
  font-size: 0.8rem;
}

.info {
  width: 35%;
  margin: 1rem 0rem;
}

.info_picture {
  width: 35%;
}

.info_picture img {
  width: 100%;
  height: auto;
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 1rem;
  width: 65%;
}

.block {
  display: flex;
  padding: 1rem;
}

.info_text h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.info_text p {
  padding: 0.5rem 0rem;
  font-family: Roboto, sans-serif;
}

.block a {
  color: cadetblue;
}

.guest_lecture {
  background-color: lightgrey;
}
/*Learning*/
.learning {
  background: lightgrey;
}

.learning h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0rem 1rem 0rem;
  width: 100%;
  text-align: center;
}

.courses {
  display: flex;
  padding: 0rem 5rem 1rem 5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  width: 25%;
  margin: 1rem;
  background-color: white;
}

.course img{
  width: 100%;
}

.course_text {
  padding: 1rem;
}

.course_text h5{
  font-family: Roboto, sans-serif;
  font-size: 1.15rem;
  font-weight: 700;
}

.course_text h6 {
  padding: 0.5rem 0rem;
  font-family: Roboto, sans-serif;
}

.course_text p {
  padding-bottom: 0.5rem;
  font-family: Roboto, sans-serif;
}

/*Thesis*/
.thesis {
  background-color: white;
}

.thesis h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem 0rem 2rem 0rem;
  width: 100%;
  text-align: center;
}

.thesis_movie {
  width: 60%;
  padding: 0rem 1.5rem 2rem 1.5rem
}

.thesis_movie video {
  width: 100%;
}

.thesis_movie h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.5rem 0rem 0.5rem 0rem;
}

.thesis_movie p {
  font-family: Roboto, sans-serif;
}

.fisma {
  background-color: darkgrey;
}
/*Footer*/
.footer {
  padding: 1rem;
  background-color: white;
}

#foot_container {
  display: flex;
  justify-content: space-between;
}

.footnav {
  display: flex;
}

.footer p {
  padding-left: 1.5rem;
}

.footnav p {
  padding: 0rem 1rem;
}
