/*For the whole site*/

html {
  font-size: 16px;
  line-height: 1.4;
}

/*For development purposes*/
div {
  border: 1px solid purple;
}

body {
  background-color: orange;
}

/*Site container*/
.site_container {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

/*Header*/
.header {
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: white;
}
#logo_container {
  display: flex;
  justify-content: space-between;
}

.logoname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2rem;
  padding-left: 1.5rem;
}

.logoname img {
  height: 2.5rem;
}

.logoname h1 {
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  color: gray;
}

.logoname h1 span {
  font-family: Ubuntu, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 1rem
}

nav p{
  padding-left: 1rem;
}

#last {
  padding-right: 1.5rem;
}

/*Banner*/
.banner {
  background-color: lightgrey;
  min-height: 100%;
}

.main_picture {
  width: 60%;
  padding: 2rem 1.5rem;
}

.main_picture img{
  width: 100%;
}

.main_text {
  width: 28%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main_text h1 {
  color: black;
  font-family: Ubuntu;
  font-weight: 700;
  font-size: 2.5rem;
}

.main_text h2 {
  color: black;
  font-family: Ubuntu;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem 0rem;
}

button {
  color: white;
  background-color: black;
  font-family: Ubuntu;
  font-size: 1.3rem;
  padding: 0.5rem 0rem;
  width: 100%;
}

/*Main*/
.practice {
  padding: 2rem 1.5rem;
  width: 60%;
}

.practice img {
  width: 100%;
}

/*Learning*/

/*Thesis*/

/*Footer*/
